<div class="bootstrap-wrapper">

    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../assets/logo.png" alt="">

                    </div>

                    <h1 class="text-center">Register Here</h1>

                    {{user | json}}




                    <form (ngSubmit)="formSubmit()">
                        <!--username field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Use Name</mat-label>
                            <input required="" [(ngModel)]="user.username" name="username" matInput
                                placeholder="Enter Here">
                        </mat-form-field>

                        <!-- passowrd field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Password</mat-label>
                            <input [(ngModel)]="user.password" required="" name="passowrd" type="password" matInput
                                placeholder="Enter Here">
                        </mat-form-field>

                        <!--firstname-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input [(ngModel)]="user.firstName" required="" name="firstName" matInput
                                placeholder="Enter Here">
                        </mat-form-field>

                        <!--lastname-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input [(ngModel)]="user.lastName" required="" name="lastName" matInput
                                placeholder="Enter Here">
                        </mat-form-field>

                        <!--email-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input [(ngModel)]="user.email" required="" name="email" type="email" matInput
                                placeholder="Enter Here">
                        </mat-form-field>

                        <!-- phone number-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input [(ngModel)]="user.phone" required="" name="phone" type="number" matInput
                                placeholder="Enter Here">
                        </mat-form-field>

                        <div class="container text-center">

                            <button type="submit" mat-raised-button color="primary">Register</button>
                            <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                        </div>


                    </form>

                </mat-card>
            </div>
        </div>

    </div>

</div>